# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
.env

# dbt
dbt_modeling/target/
dbt_modeling/logs/
dbt_modeling/dbt_packages/

# RAG App
rag_app/chroma_db/
rag_app/venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
